<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
           styles="Rewrite"
           scriptProcessor="C:\Python310\python.exe|C:\Python310\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <rewrite>
       <rules>
           <rule name="FastAPI" stopProcessing="true">
               <match url="(.*)" />
               <conditions>
                   <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                   <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="handler.fcgi/{R:1}" />
           </rule>
       </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.main.app"/>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Az-C0st-Dashboard\backend"/>
    <add key="AZURE_AUTH_MODE" value="CLI"/>
    <add key="LOG_LEVEL" value="INFO"/>
  </appSettings>
</configuration>
